/**
 * 6.10 Contributor Page
 * -----------------------------------------------------------------------------
 */

.contributor {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
	padding: 48px 10px;
}

.contributor:first-of-type {
	padding-top: 24px;
}

.contributor-info {
	margin: 0 auto;
	max-width: 474px;
}

.contributor-avatar {
	border: 1px solid rgba(0, 0, 0, 0.1);
	float: left;
	margin: 0 30px 20px 0;
	padding: 2px;
}

.contributor-name {
	font-size: 16px;
	font-weight: 900;
	line-height: 1.5;
	margin: 0;
}

.contributor-bio a {
	text-decoration: underline;
}

.contributor-bio a:hover {
	text-decoration: none;
}

.contributor-posts-link {
	display: inline-block;
	line-height: normal;
	padding: 10px 30px;
}

.contributor-posts-link:before {
	content: "\f443";
}